# Ignore all __pycache__ directories
**/__pycache__/

# Ignore all .pyc files
**/*.pyc

# Ignore database file
db.sqlite3

# Ignore logs
django.log

# Ignore virtual environment
.venv/

*.pyc
__pycache__/